@using Data
@page "/"
@inject Client client
@inject NavigationManager navManager
<PageTitle>Login</PageTitle>
<div hidden = "@HideFailed" class="loginError">
        <div class="loginErrorContent"> User was not found </div>
        <div class="loginErrorX" @onclick = "@HideError" >x</div>
    </div>
<div class="loginCenter">
    <h2>Login</h2>

    <p>Welcome. Please login.</p>
    <EditForm Model="@user" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <p style="text-align: left">
            <label>
                Username:
                <InputText style ="width: 100%" id="name" @bind-Value="user.Name" />
            </label>
        </p>
        <button class="center" type="submit" @onclick="@submit" >Submit</button>
    </EditForm>
</div>
<div hidden = "@HideLabel" class="spinner" />
@code {
    private User user = new();

    bool HideLabel = true;
    bool HideFailed = true;

    private void HandleValidSubmit()
    {
        client.Register(user.Name);
        client.SendMessage(user.Name);
        var t = DateTime.Now;
        bool wait = true;

        while (wait)
        {
            if (client.GetClientId() != string.Empty)
            {
                wait = false;
                navManager.NavigateTo("/userUi");
            }
            else if ((DateTime.Now - t).TotalSeconds > 5)
            {
                wait = false;
                HideFailed = false;
                HideLabel = true;
            }
        }
    }

    private void HideError()
    {
        HideFailed = true;
    }

    private void submit()
    {
        HideLabel = false;
        HideFailed = true;
    }
}
